@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

#root {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100%;
  width: 100%;
}

.Button404 {
  padding: 12px 32px;
  background: var(000);
}

/*Flash Cards Counter Styles: {Saved, Default, Learning}*/

.SavedCount:hover {
  border-radius: 6px;
  background: var(--Neutral-100, #e3e8ea);
}

.SavedCount:active {
  border-radius: 6px;
  border: 3px solid var(--green-600, #057a55);
  background: var(--Neutral-100, #e3e8ea);
}

.LearningCount:hover {
  border-radius: 6px;
  background: var(--Neutral-100, #e3e8ea);
}

.LearningCount:active {
  border-radius: 6px;
  border: 3px solid var(--yellow-600, #9f580a);
  background: var(--Neutral-100, #e3e8ea);
}

.Default:hover {
  background-color: var(--Neutral-100, #e3e8ea);
  box-shadow: inset 3px 0 0 0 var(--Neutral-400, #778c99);
}

.Default:active {
  box-shadow: inset 0 0 0 3px var(--Neutral-400, #778c99);
}

.Learning:hover {
  background-color: var(--Yellow-100, #fdf6b2);
  box-shadow: inset 3px 0 0 0 var(--Yellow-400, #e3a008);
}

.Learning:active {
  box-shadow: inset 0 0 0 3px var(--Yellow-400, #e3a008);
}

.Saved:hover {
  background-color: var(--green-100, #def7ec);
  box-shadow: inset 3px 0 0 0 var(--green-400, #31c48d);
}

.Saved:active {
  box-shadow: inset 0 0 0 3px var(--green-400, #31c48d);
}

/*Tabs Stayles*/

.Tab:hover {
  background-color: var(--Neutral-100);
  cursor: pointer;
}

.Tab:active {
  background-color: var(--Neutral-100);
  box-shadow: inset 0 0 0 3px var(--Neutral-200);
}

.RemoveTask {
  transform: 0.5s;
  background-color: transparent;
  color: transparent;
}

.ToDoTask:hover .RemoveTask {
  background-color: #253755;
  color: #f4f6fb;
}
